fastapi==0.95.2
uvicorn==0.22.0
pandas==2.0.3
numpy==1.23.5
scikit-learn==1.1.3
pydantic==1.10.12

# NLP
rasa==3.4.11
rasa-sdk==3.4.1

# IndoBERT & Transformers (Thesis Requirements)
transformers==4.30.2
torch==2.0.1
sacremoses==0.0.53

# HTTP client
requests==2.31.0

# env configuration
python-dotenv==1.0.0

# optional tapi sangat berguna
tqdm==4.65.0
joblib==1.2.0
websockets==11.0.3