.card {
  position: relative;
  border-radius: 1.25rem;
  border: 1px solid var(--border-card);
  background-color: var(--bg-card);
  overflow: hidden;
  padding: 0;
}

.spotlight {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
